[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "*"
zstandard = "*"
rich = "*"
pyarrow = "*"

[dev-packages]
pyarrow-stubs = "*"

[requires]
python_version = "3.13"
